Django==1.10.3
django-bootstrap-themes==3.3.6
django-bootstrap3==7.1.0
django-registration==2.2
django-registration-redux==1.4
oauthlib==2.0.1
olefile==0.44
Pillow==4.0.0
PyJWT==1.4.2
python-openid==2.2.5
python-social-auth==0.2.21
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
