{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-7">
    <h1 class=title">{{article.title}}</h1>
    <div>Published on: {{article.publish_date}}</div>
    <div>Tags:
        {% for tag in article.tag_list %}
            <a href="/tag/{{tag.value}}">{{tag.value}} </a>
        {% endfor %}</div>
    <hr>
    <div>
        {{article.content|safe}}
    </div>
    <hr>
    <h4>Images</h4>
    {% for image in images %}
    <div style="margin-bottom:1.5em;">
        <span>Description: {{image.description}}</span><br>
        <img src="{{image.image.url}}" style="max-width:80%">
    </div>
    {% endfor %}
    <div>
        Viewed: {{article.views}} times
    </div>
    <hr>
    <div>
        <h3 class=title">Comments:</h3>
        {% for comment in comments %}
        <div>
            <span>Author:  {{comment.user}}</span>
            <span style="margin-left:2em;"> Time:  {{comment.created_date}}</span>
            <div style="margin-top:1em;">{{comment.content}}</div>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div>
        <h4 class=title">Add comment:</h4>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea id="comment_content" name="comment_content" style="min-width:60%;min-height:4em;"></textarea>
            <br><input type="submit" class="btn btn-primary submit-right" name="submit" style="margin-top:1em;" value="Add Comment"/>
        </form>
    </div>
</div>
<div class="col-md-5">
    <h2 class="title">Most viewed on {{blog.user}}'s blog</h2><hr>
    {% include "most_viewed.html" %}
</div>
{% include "like.html" %}
{% endblock %}