{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-7">
    <h1 class=title">{{article.title}}</h1>
    <div>Published on: {{article.publish_date}}</div>
    <div>Tags:
        {% for tag in article.tag_list %}
            <a href="/tag/{{tag.id}}">{{tag.value}} </a>
        {% endfor %}</div>
    <hr>
    <div>
        {{article.content|safe}}
    </div>
    <hr>
    <div>
        Viewed: {{article.views}} times
    </div>
</div>
<div class="col-md-5">
    <h2 class="title">Most viewed on {{blog.user}}'s blog</h2><hr>
    {% include "most_viewed.html" %}
</div>
{% endblock %}