{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if saved %}
<div class="col-md-12"><h3>Changes saved!</h3></div>
{% endif %}

<div class="col-md-8">
    <h3>Settings</h3>
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="about">About blog:</label><br>
        <textarea id="about" name="about" rows="5" cols="50">{{blog.about}}</textarea><br>
        <label for="style" style="margin-top:1em;">Blog's style:</label><br>
        <select id="style" name="style">
            {% for style in style_list %}
                {% if style == blog.style %}
                <option value="{{style}}" selected="selected">{{style}}</option>
                {% else %}
                <option value="{{style}}">{{style}}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <input type="submit" class="btn btn-primary submit-right"
               name="submit" style="margin-top:1em;" value="Save Changes"/>
    </form>
</div>
<div class="col-md-4">
    <h3>Statistics</h3>

</div>
<div class="col-md-12">
    <h3>Articles</h3>
    <form action="/add-article">
        <input type="submit" class="btn btn-primary submit-right" value="Add Article" />
    </form>

    <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Publish Date</th>
            <th>Tags</th>
            <th>Views</th>
             <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <td><a href="/article/{{article.id}}">{{article.title}}</a></td>
            <td>{{article.publish_date}}</td>
            <td>
                {% for tag in article.tag_list %}
                    <span>{{tag}}</span>
                {% endfor %}
            </td>
            <td>{{article.views}}</td>
            <td>
                <form action="/delete-article" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{article.id}}">
                <input type="submit" class="btn btn-primary submit-right"
           name="submit" style="margin-top:1em;" value="✕"/>
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}